<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/public/main.css" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"
      integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <title>Document</title>
  </head>
  <body>
    <div>채팅방</div>
    <input id="input" />
    <div id="content"></div>
    <button id="send">서버에 메세지 보내기</button>
    <button id="room1">채팅방1 입장</button>
    <button id="room1-send">채팅방1에서 메세지보내기</button>
    <script>
      var socket = io();

      $("#room1-send").click(function () {
        socket.emit("room1-send", "반가워 채팅방1");
      });
      $("#room1").click(function () {
        socket.emit("joinroom", "채팅방입장시켜줘");
      });
      $("#send").click(function () {
        socket.emit("user-send", $("#input").val());
      });

      socket.on("broadcast", function (data) {
        $("#content").append("<div>" + data + "</div>");
      });
    </script>
  </body>
</html>
