<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/public/main.css" />

    <title>Hello, world!</title>
  </head>
  <body>
    <%- include("nav.html") %>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <div class="container mt-4">
      <h4 class="text-center">메뉴 추가하기</h4>

      <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupFile01"
            >음식사진</label
          >
          <input
            type="file"
            class="form-control"
            id="inputGroupFile01"
            name="foodimg"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">이름</span>
          <input
            type="text"
            class="form-control"
            aria-label="Username"
            name="foodname"
          />
        </div>

        <div class="input-group">
          <span class="input-group-text">설명</span>
          <textarea
            class="form-control"
            aria-label="With textarea"
            name="foodex"
          ></textarea>
        </div>
        <hr />
        <button type="submit" class="btn btn-primary">추가</button>
      </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
